//#betaWarning.navbar-fixed-bottom.no-mobile(onclick="toggleHide(this)")
//    h1.fa.fa-times.fa-pull-right
//    br
//    //TODO Replace Later
//    h3.text-center This application is in very early alpha, and therefore some functionality may not yet have been implemented. Also Cookies.
//alert(:show.sync='showTop', placement='top', duration='3000', type='danger', width='400px', dismissable='')
//  span.icon-info-circled.alert-icon-float-left
//  strong Heads up!
//  p This alert needs your attention.

alert(placement='top', duration='3000', type='danger', width='400px', dismissable='')
  span.icon-info-circled.alert-icon-float-left
  strong Warning
  p This application is in very early alpha, and therefore some functionality may not yet have been implemented. Also Cookies.
