#betaWarning.navbar-fixed-bottom.no-mobile(onclick="toggleHide(this)")
    h1.fa.fa-times.fa-pull-right
    br
    //TODO Replace Later
    h3.text-center This application is in very early alpha, and therefore some functionality may not yet have been implemented. Also Cookies.