alert(placement='bottom', duration='3000', type='danger', width='400px', dismissable='')
  span.icon-info-circled.alert-icon-float-left
  strong Warning
  p This application is in very early alpha, and therefore some functionality may not yet have been implemented. Also Cookies.
