footer.no-mobile.no-tablet
    .container-fluid
        // Social buttons
        .row.footer-above
            span  
        // Actual Footer with &copy;
        .row.footer-below.three-col
            #page-address.col-sm-4.col-footer
                span.center-block Bexhill College
                span.center-block Penland Rd
                span.center-block TN40 2JG
                span.center-block East Sussex
            .col-sm-4.col-footer
                span
            .col-sm-4.col-copyright
                span  Copyright Liam McLeod © 2016
#mobileWrapper.no-desktop.no-wide.hide
    #mobileExit(onclick="toggleMenu()")
    #mobileMenu
        ul.nav.navbar-nav
            li.active
                a(href='#') Search
            li
                a(href='#') About
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Contact
                    b.caret
                ul.dropdown-menu.linear
                    li
                        a(href='#') Email