// JS
script(src='/public/libs/vue.js')
//script(src='/public/libs/vue.min.js')
script(src="/public/js/vue-strap.min.js")
//script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js')
//script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
//script(src='/public/libs/angular.min.js')

//Router
script(src='/public/libs/vue-router.js')
//script(src='/public/libs/vue-router.min.js')
//script(src='https://code.angularjs.org/1.5.0/angular-route.js')
//script(src='/public/libs/angular-route.min.js')


//Resource
script(src="/public/libs/vue-resource.js")
//script(src='/public/libs/vue.resource.min.js')
//script(src='https://code.angularjs.org/1.5.0/angular-resource.js')

// Remove the dev versions later, uncomment mins also.
