main.bg-light
    .container-fluid
        .wire.jumbotron(v-for="page in pages")
            //script.
            //    CKEDITOR.inline("editor{{index}}")
            //contenteditable="true"
            //Check tabbed char

            h4
                a(href='/{{page.page.nav}}') {{page.page.title}}
            pre Page Link       {{page.page.nav}}
            pre Page Title      {{page.page.title}}
            pre Page Header:    {{page.page.heading}}
            pre Page Content:   {{page.page.content}}
