nav.navbar.navbar-fixed-alt.navbar-trans.no-mobile
    .container-fluid
        // Header
        .navbar-header
            a.no-tablet.no-mobile.navbar-brand.pull-left(href='#')
                span.no-tablet.no-mobile Examplar
            a.navbar-brand.pull-left.tablet-only(onClick="toggleMenu()")
                .icon
                    span
                    span
                    span
                    span
            a.navbar-brand.pull-left.tablet-only.fa.fa-chevron-up(href="#body-top")
        .collapse.navbar-collapse.no-mobile.no-tablet
            ul.nav.navbar-nav.navbar-right.no-mobile.no-tablet
                li.dropdown.no-mobile.no-tablet
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | &nbsp;
                        span.caret
                    ul.dropdown-menu
                        if !loggedIn
                            li
                                a(href='#')
                                    span.glyphicon.glyphicon-user
                                    |  Sign Up
                            li
                                a(href='/user')
                                    span.glyphicon.glyphicon-log-in
                                    |  Login
                        else
                            li
                                a(href='/u/#{username}')
                                    span.fa.fa-user
                                    |   #{username}
                            li
                                a(href='/user')
                                    span.fa.fa-cog
                                    |  Settings
                            li
                                a(href='/api/logout')
                                    span.fa.fa-sign-out
                                    |   Log Out
            ul.nav.navbar-nav.navbar-right.nav-list.no-tablet
                li
                    a.active(href='/') Search
                li
                    a(href='/about') About
                li.dropdown.no-tablet
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Contact
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='mailto:l_mcleod95@hotmail.com?Subject=WebDev')
                                span.fa.fa-mail-forward
                                |  Email
                        li
                            a(href='#page-address')
                                span.fa.fa-home
                                |  Address
.rounded-box.left.mobile-only
    a.navbar-brand(onClick="toggleMenu()")
        .icon
            span
            span
            span
            span
.rounded-box.right.mobile-only
    a.navbar-brand(href="#body-top")
        .arrow
            span
            span