main.bg-light
    .container-fluid
        .contentContainer.text-left
            .test-ad
                //ToDo Placeholders
                .col-sm-12.wide-only
                    img(src="https://storage.googleapis.com/support-kms-prod/SNP_59D432450939ECC60A21BEDBEE985B1817B1_3094744_en_v2")
                .col-sm-offset-2.col-sm-6.desktop-only
                    img(src="https://storage.googleapis.com/support-kms-prod/SNP_4FF3B90F1F322E328CE191157454F07699AB_2922296_en_v3")
                .col-sm-12.wire.no-desktop.no-wide
                    span iPhone Ad
            .user
                .row(v-if="exists===true")
                    if !loggedIn
                        h1 You are not authorised to access this content
                    else
                        img(src="http://1.gravatar.com/avatar/{{user.Digest}}?size=128")
                        //img(v-bind:src="http://1.gravatar.com/avatar/{{user.Digest}}?size=128")
                        h1 {{user.Username}}
                        p  {{user.Title}}
                        p  {{user.FirstName}}
                        p  {{user.LastName}}
                        p  {{user.EmailAddress}}
                        p  {{user.DateOfBirth}}
                        p  {{user.Created}}
                        p  {{user.Role}}
                .row(v-else)
                     h1 User not found