main.bg-light
    .container-fluid
        .searchContainer.text-center
            //v-on:submit.prevent
            form(method='get', action='/index' v-on:submit)
                ////v-on:submit.prevent
                input#searchBar.bar-search.input-lg(type='text', v-model="searchTerm" title='search', name='q', size='', maxlength='120')
                //value='{{searchTerm}}'
                button.btn-lg.fa.fa-search.btn-search(type="" v-on:click="search")
        .contentHeader
            .navbar-header
                span
                    strong Question {{results.QuestionNumber}}
            .search-results.pull-left.no-mobile.no-tablet
        .contentContainer.text-left
            .test-ad
                //ToDo Placeholders
                .col-sm-12.wide-only
                    img(src="https://storage.googleapis.com/support-kms-prod/SNP_59D432450939ECC60A21BEDBEE985B1817B1_3094744_en_v2")
                .col-sm-offset-2.col-sm-6.desktop-only
                    img(src="https://storage.googleapis.com/support-kms-prod/SNP_4FF3B90F1F322E328CE191157454F07699AB_2922296_en_v3")
                .col-sm-12.wire.no-desktop.no-wide
                    span iPhone Ad
            .result(v-if="result===true")
                .row(v-if="codeAnswer===true")
                    span This answer refers to preliminary material of {{results.ExamPaperSeason}} {{results.ExamPaperYear}}
                    //TODO Hyperlink to Prelim
                //TODO PAPER PDF HREF
                // TODO VUE STRING ON THE END OF ABOVE
                .row
                    .col-xs-3
                        h4  Exam Board:
                        h3 {{results.ExamBoardName}}
                    .col-xs-3
                        h4.text-center Subject:
                        h3.text-center {{results.LevelTitle}} {{results.SubjectTitle}}
                    .col-xs-3
                        h4.text-center Unit:
                        h3.text-center {{results.ExamPaperUnit}}
                    .col-xs-3
                        h4.text-right  Paper:
                        h3.text-right {{results.ExamPaperSeason}} {{results.ExamPaperDate}}
                .panel.panel-default
                    .panel-heading Question {{results.QuestionNumber}} - {{results.TopicTitle}}
                    .panel-body
                        .col-xs-8
                            h4.card-title {{{results.QuestionText}}}
                            a.btn.btn-default(onclick="toggleHide('.answer')") Show Answer
                            .answer.hide
                                h5
                                    em(v-if="codeAnswer===false") {{{results.QuestionMarkText}}} &nbsp;
                                p
                                    a.answer.hide.add.text-info(onclick="toggleHide('.msacronyms')") Additional
                                div(v-else)
                                    //TODO code format div Look to scotch.IO
                                .msacronyms.hide
                                    .col-xs-6
                                        strong
                                            pre //  -    Alternative Response
                                        strong
                                            pre /   -    Alternative Word / Phrase
                                        strong
                                            pre ;   -    Single Mark
                                        strong
                                            pre A   -    Acceptable Response
                                    .col-xs-6
                                        strong
                                            pre NE  -    Not Enough
                                        strong
                                            pre R   -    Reject
                                        strong
                                            pre I   -    Ignore
                        .col-xs-4
                                img.text-right.pull-right(v-if="hasImage===true" v-bind:src="'data:image/png;base64, '+results.QuestionImageData" alt="placeholder" width="420")
                                h4(v-else) No image associated with this question.
                                strong.answer.hide MAX {{results.QuestionMarks}}
                    .panel-footer.text-muted.text-right
                        span
                            strong {{results.QuestionMarks}} Marks
                .row
                    .col-xs-4
                        h3 More Questions from {{results.ExamPaperUnit}} {{results.ExamPaperSeason}} {{results.ExamPaperDate}}
                        ul.nav.navbar
                            li(v-for="more in more | orderBy 'QuestionNumber'")
                                a(href="result?id={{more.QuestionId}}") {{{more.QuestionText}}}
                    .col-xs-4
                        h3 Questions Related to {{results.TopicTitle}}
                        ul.nav.navbar
                            li(v-for="related in related | orderBy 'QuestionNumber'")
                                a(href="result?id={{related.QuestionId}}") {{{related.QuestionText}}}
                    .col-xs-3.additional-list
                        h3 Additional
                        ul.nav.navbar
                            li
                                a(href-"") See Examiner Notes
                            li
                                a(href="") See more from this paper
                            li
                                a(href="")  Download the paper
                            li
                                a(href="")  Download the mark scheme
                            li
                                a(href="")  Print
            .result(v-else)
                .row.text-center
                    h1 Question does not exist
#betaWarning.navbar-fixed-bottom.no-mobile(onclick="toggleHide(this)")
    h1.fa.fa-times.fa-pull-right
    br
    //TODO Remove Later
    h3.text-center This application is in very early alpha, and therefore some functionality may not yet have been implemented.
