main.bg-light
    .container-fluid
        .contentContainer.text-left
            .test-ad
                //ToDo Placeholders
                .col-sm-12.wide-only
                    img(src="https://storage.googleapis.com/support-kms-prod/SNP_59D432450939ECC60A21BEDBEE985B1817B1_3094744_en_v2")
                .col-sm-offset-2.col-sm-6.desktop-only
                    img(src="https://storage.googleapis.com/support-kms-prod/SNP_4FF3B90F1F322E328CE191157454F07699AB_2922296_en_v3")
                .col-sm-12.wire.no-desktop.no-wide
                    span iPhone Ad
            .upload
                form#fileUpload(action="upload/file" method="POST" enctype="multipart/form-data")
                    .panel.panel-default.panel-upload
                        .panel-heading.text-center
                            h4 Upload File
                        .panel-body.text-center
                            h1.glyphicon.glyphicon-cloud-upload
                            .progress(role="progressbar")
                            input#input-upload(type="file" name="upload" title="")
                        .panel-footer
                            button.btn.btn-lg.btn-upload.btn-soundcloud(type="submit") Upload
#betaWarning.navbar-fixed-bottom.no-mobile(onclick="toggleHide(this)")
    h1.fa.fa-times.fa-pull-right
    br
    //TODO Replace Later
    h3.text-center This application is in very early alpha, and therefore some functionality may not yet have been implemented.