//TODO
html(lang="en-GB" id="index")
    head
        //include includes/framework
        include includes/head
    body#page-top
        #wrapper
            include includes/nav
                //Maybe bootstrap a dropdown menu for edit
            include includes/title
            span
            include includes/aboutmain
            include includes/betawarning
            include includes/footer
            include includes/js