doctype html
html(lang="en-GB" id="index")
    head
        include includes/framework
        include includes/head
        //ToDo Find CC Header Image
        //ToDo LOGIN, Basket,

    body#page-top
        #wrapper
            include includes/nav
            include includes/title
            include includes/main
            include includes/betawarning
            include includes/footer
            include includes/js
            script.
                console.log('#{getReg}');
                var parsedVar = '#{getReq}'
                if (parsedVar!=undefined && parsedVar != null && parsedVar != '') {
                    var text = $('#searchBar')
                    text.val(parsedVar);
                    this.vm.search(parsedVar);
                }