//TODO
    JS Input Validation
    Hyperlink Question
    Finish this question page
    JQ show/hide mark scheme answer
html(lang="en-GB" id="index")
    head
        include includes/framework
        include includes/head
        //ToDo Find CC Header Image
        //ToDo LOGIN, Basket,
    body#page-top
        #wrapper
            include includes/nav
                //Maybe bootstrap a dropdown menu for edit
            include includes/title
            span
            include includes/resultmain
                //Remove later
            include includes/footer
            include includes/js
                script.
                    this.vm.fetchResult(#{idReq});